/emacs-reveal-submodules/
/forge-database.sqlite
/init.bak.el
/public/
/pdf-tools/
/config.el
/backup/
/config.org.bak
/elpa/
/elpy/
/oer-reveal-org/
/quelpa/
/test/
/transient/
/url/
/Org-Download/
/image-dired/
/auto-save-list/
/config.html
