.DS_Store
config.el
**/#*#
public/
oer-reveal-org/
elpa/emacs-reveal/
emacs-reveal-submodules/
test/
**/*.git
**/*.swp

url/

/history/
url/
var/
/anaconda-mode/
/auto-save-list/
/backups/
/transient/
/elpa/
/elpy/
/test/
/quelpa/

.abbrev_defs
.dap-breakpoints
ac-comphist.dat
bookmarks
nov-places
recentf
request
smex-items
tramp
workspace
